PORT=
DATABASE_URL=
DB_SSL=
JWT_SECRET=
PAYMOB_HMAC_SECRET=
ALLOWED_ORIGIN=
CLINIC_BASE_DOMAIN=
ADMIN_JWT_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TZ=
